.img-container {
    padding: 12px 12px 7px 12px;
    border: 1px solid #ccc;
    margin: 1.5rem;
    text-align: center;
    margin: 1.2rem;
}

.modal-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-caption {
    font-style: italic;
    text-align: center !important;
    font-size: 13px !important;
    padding: 0 !important;
    margin: -10px 0 18px;
    color: #2e64aa;
}

.plain a, .plain p, .plain ul li, .plain ol li {
    font-family: verdana;
    font-size: 13px;
}

.plain p {
    line-height: 1.8;
    text-align: justify;
    padding: 3px 1rem;
}